.modals {
    display : none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    
}


.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.model-ask {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0px 10px 7px black;
    padding: 0 10px
}

.modal-ask h2 {
    color:blueviolet;
    margin-top: -5px ;
    margin-bottom: 10px;

}

.modal-ask p {
    margin-top: 10px;
    margin-bottom: 10px;
}


.modal-add-form {
    display:none

}

.modal-btn-confirm {
    padding: 10px 10px;
    border-radius: 18px;
    border: none;
    box-shadow: 0px 2px 7px rgb(37, 37, 37);
    background-color: rgb(52, 192, 52);
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}

.modal-btn-confirm:hover{
    box-shadow: 4px 4px 7px black;
}

.modal-btn-close {
    padding: 10px 10px;
    border-radius: 18px;
    border: none;
    box-shadow: 0px 2px 7px black;
    background-color:  rgb(224, 14, 14);
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}

.modal-btn-close:hover {
    box-shadow: 4px 4px 7px black;
}

.btn-adicionar {
    padding: 5px 5px;
    border-radius: 10px;
    border:none;
    background-color: aquamarine;
    box-shadow: 0px 2px 7px black;
    font-size: 10px;
    font-weight: 500;
    cursor: pointer;
}

.btn-adicionar:hover {
    animation-name: borderanimate ;
    animation-delay: 200ms;
    animation-direction: alternate-reverse;
}


@keyframes borderanimate {
    0% {
        border : none
    }

    100% {
        border: solid 2px black
    }
}
